
.App-wrapper {
  height: 145vh;
  width: 100%;

}
.navbarbox {
  height: 7%;
  background-color:#3A5371;
  align-items: center;
  padding: 1%;
}
.mainbox
{
  height: 86vh;
  width: 100vw;

  
}
.img-main{
  height: 100%;
  width: 100vw;
  overflow: hidden;
  object-fit: fill;

}
.footer-box{
  background-color:#3A5371;
  height: 45vh;
  width: 100vw;
}
.text-box{
  position: absolute;
  top: 70%;
    height: 50%;
    width: 30%;
    color: white;
    padding-left: 10%;
    margin: 2%;
    text-align: center;

}
.buttons{
  display: flex;
  padding: 10%;
  color: black;
  font-size: x-small;
  position: relative;
  gap: 30;
  top: 20%;
  right: 20%;
  margin: 2%;
  padding: 4%;
}
.main-head{
  font-family: Inter;
font-weight: 700;
width: 40%;
position: relative;
font-size: x-large;
top: 20%;
left: 2%;

letter-spacing: 0%;

}
.head{
  
  
  width: 40%;
  position: relative;
  font-size: large;
  top: 23%;
  text-align: left;
  
}
